html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background-image: url("icon_food2.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color:#00bcd4;
}

.welcome-message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(131, 21, 65);
    font-size: 50px;
}

.button-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-button, .signup-button {
    background-color: rgba(89, 240, 59, 0.5);
    padding: 20px 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.9s ease;
    margin: 10px;
}

.login-button:hover, .signup-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #62cff0;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(7, 114, 146, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(228, 231, 235);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #135719;
}

.dropdown:hover .dropdown-content {
    display: block;
}
